body {
    margin: 0
}

nav {
    background-color:  #fc0384;
    height: 5vh;
    top: 0;
}

#main-link {
    text-decoration: none;
    color: white;
    margin-left: 3vw;
}

main {
    padding: 6vh 3vw;
}

h1, h3{
    color: mediumaquamarine
}

#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

footer {
    height: 8vh;
    background-color: mediumaquamarine;
    bottom: 0;
    padding: 0 3vw;
}

tr:nth-child(even) {
    background-color: lightblue;
}

nav, footer {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
}
